@media (width <= 40rem) {
  .page-body .flex-col,
  .page-body .max-w-prose {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.hb-card-title {
  align-items: center;
}

.page-footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.resume-biography {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
